@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .azvan {
        border-radius:.6rem !important;
    }

    .asfan {
        background: radial-gradient(circle, transparent, transparent 50%, #FBFBFB 50%, #FBFBFB 100%) -7px -2px / 16px 16px repeat-x;
    }

    .azvan-barcode {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(calc(-50% - 25px), -50%);
        display: inline-block;
        height: 30px;
        width: 0;
        box-shadow:
            1px 0 0 1px,
            5px 0 0 1px,
            10px 0 0 1px,
            11px 0 0 1px,
            15px 0 0 1px,
            18px 0 0 1px,
            22px 0 0 1px,
            23px 0 0 1px,
            26px 0 0 1px,
            30px 0 0 1px,
            35px 0 0 1px,
            37px 0 0 1px,
            41px 0 0 1px,
            44px 0 0 1px,
            47px 0 0 1px,
            51px 0 0 1px,
            56px 0 0 1px,
            59px 0 0 1px,
            64px 0 0 1px,
            68px 0 0 1px,
            72px 0 0 1px,
            74px 0 0 1px,
            77px 0 0 1px,
            81px 0 0 1px,
            85px 0 0 1px,
            88px 0 0 1px,
            92px 0 0 1px,
            95px 0 0 1px,
            96px 0 0 1px,
            97px 0 0 1px,
            101px 0 0 1px,
            105px 0 0 1px,
            109px 0 0 1px,
            110px 0 0 1px,
            113px 0 0 1px,
            116px 0 0 1px,
            120px 0 0 1px,
            123px 0 0 1px,
            127px 0 0 1px,
            130px 0 0 1px,
            131px 0 0 1px,
            134px 0 0 1px,
            135px 0 0 1px,
            138px 0 0 1px,
            141px 0 0 1px,
            144px 0 0 1px,
            147px 0 0 1px,
            148px 0 0 1px,
            151px 0 0 1px,
            155px 0 0 1px;
    }




}
